@model IEnumerable<Charter.Models.BaitsModel>

@{
    ViewData["Title"] = "Get Baits";
}

    <h4>Baits</h4>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDozen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeathCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaptainsModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BaitType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDozen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeathCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaptainsModel.CaptainId)
            </td>
            <td>
                <a class="btn btn-primary" role="button"asp-action="EditBait" asp-route-id="@item.BaitId">Edit</a> |
                
                <a class="btn btn-primary" role="button"asp-action="DeleteBait" asp-route-id="@item.BaitId">Delete</a> |
                <a class="btn btn-primary" role="button"asp-action="CalculateBaits" asp-route-id="@item.BaitId">Calculate</a> |
                <a class="btn btn-primary" role="button"asp-action="CostDetails" asp-route-id="@item.BaitId">Cost Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
